<p-toast></p-toast>
<div class="grid">
  <div class="col-12">
    <button pButton pRipple type="button" (click)="openFormDialog()" icon="pi pi-plus" label="Add Agency" class="p-button-primary mb-3"></button>

    <p-table [value]="agencies" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th>Company</th>
          <th>Name</th>
          <th>City</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-agency let-rowIndex="rowIndex">
        <tr>
          <td>{{ agency.companyId}}</td>
          <td>{{ agency.name }}</td>
          <td>{{ agency.city }}</td>
          <td>{{ agency.address }}</td>
          <td>{{ agency.phone }}</td>
          <td>
            <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="editAgency(agency, rowIndex)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteAgency(rowIndex)"></button>
              </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog [(visible)]="formDialog" [style]="{width: '450px'}" header="Add Agency" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <form [formGroup]="agencyForm">
          <div class="field">
            <label for="companyId">Company <span class="p-error">*</span></label>
            <p-dropdown [options]="companies" optionLabel="name" optionValue="id" formControlName="companyId" placeholder="Select a Company"></p-dropdown>
            <small class="p-error" *ngIf="agencyForm.controls['companyId'].dirty && agencyForm.controls['companyId'].hasError('required')">
              Company is required.
            </small>
          </div>
          <div class="field">
            <label for="name">Name <span class="p-error">*</span></label>
            <input type="text" pInputText formControlName="name" />
            <small class="p-error" *ngIf="agencyForm.controls['name'].dirty && agencyForm.controls['name'].hasError('required')">
              Name is required.
            </small>
          </div>
          <div class="field">
            <label for="city">City</label>
            <input type="text" pInputText formControlName="city" />
          </div>
          <div class="field">
            <label for="address">Address <span class="p-error">*</span></label>
            <input type="text" pInputText formControlName="address" />
            <small class="p-error" *ngIf="agencyForm.controls['address'].dirty && agencyForm.controls['address'].hasError('required')">
              Address is required.
            </small>
          </div>
          <div class="field">
            <label for="phone">Phone <span class="p-error">*</span></label>
            <input type="text" pInputText formControlName="phone" />
            <small class="p-error" *ngIf="agencyForm.controls['phone'].dirty && agencyForm.controls['phone'].hasError('required')">
              Phone is required.
            </small>
          </div>
        </form>
      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple type="button" (click)="onSubmitForm()" label="Save" class="p-button-primary"></button>
        <button pButton pRipple type="button" (click)="hideFormDialog()" label="Cancel" class="p-button-secondary"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
